<body>

<mat-toolbar class="custom-toolbar" >

    <mat-toolbar-row>
      <span>Nosotros</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>  
</mat-toolbar>
<div class="text-container">
    <div class="text">
        <p>Misión</p>
        <p class="center">Formar profesionistas competentes e íntegros, mediante la aplicación de un Modelo Educativo vinculado con el sector productivo que promueva el desarrollo sustentable de la región e impulse la calidad de vida de la comunidad. </p>
    </div>
    <div class="text">
        <p>Visión</p>
        <p class="center"> Ser una Institución de Educación Superior centrada en el aprendizaje de nuestros alumnos, reconocida nacional e internacionalmente por su sólida estructura académica y por la excelente preparación de sus egresados en el área tecnológica y humanística.</p>
    </div>
    <div class="text">
        <p>Politica</p>
        <p class="center"> Nuestro compromiso es ofrecer a la comunidad educativa programas de estudio pertinentes, flexibles y de calidad, que garanticen una formación superior universitaria competente, vinculándolos con el sector productivo y social, promoviendo en nuestros alumnos, valores humanos a través de procesos controlados, que deriven en un sistema de gestión efectivo y transparente con enfoque en la mejora continua.</p>
    </div>
</div>
<mat-card class="social">
     Redes sociales:
     <div>
     <img src="https://cdn-icons-png.flaticon.com/512/888/888853.png" 
     width="30"
     height="25" />
     <img src="https://c0.klipartz.com/pngpicture/351/680/gratis-png-firma-bloque-ordenador-iconos-correo-facebook-email.png" 
     width="30"
     height="25" />
     <img src="https://c0.klipartz.com/pngpicture/132/965/gratis-png-icono-de-mensaje-de-diseno-web-de-correo-electronico-de-whatsapp-whatsapp-logotipo-de-whatsapp.png" 
      width="30"
      height="25" />
     </div>    
</mat-card>
</body>