<body>
<mat-toolbar class="custom-toolbar" >
    <div align="center">
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
      </button>
      <span>Inicio</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>  
    </div>
</mat-toolbar> 
<div align="center">
<br><br>
    <img src="https://utl.occ.com.mx/Content/SiteManager/rue/xmx5utlinax/images/logo.png" 
    width="350"
    height="310" />
</div>
<br><br>

  <div class="title-container">
  <h1 class="tex">Bienvenidos a la UT Linares</h1>
</div>
  <button class="center" mat-raised-button color="primary">Más sobre Nosotros</button>

 
 
<mat-card class="social">
   
        Redes sociales:
        <div>
        <img src="https://cdn-icons-png.flaticon.com/512/888/888853.png" 
        width="30"
        height="25" />
        <img src="https://c0.klipartz.com/pngpicture/351/680/gratis-png-firma-bloque-ordenador-iconos-correo-facebook-email.png" 
        width="30"
        height="25" />
        <img src="https://c0.klipartz.com/pngpicture/132/965/gratis-png-icono-de-mensaje-de-diseno-web-de-correo-electronico-de-whatsapp-whatsapp-logotipo-de-whatsapp.png" 
        width="30"
        height="25" />
        </div>    
   
</mat-card>

</body>
  
